h1{
    color : red
}

img1 {
    width : 250px;
    height : 150px;
}

body {
    background: linear-gradient(#F4EEEB,#D4CFCD);
    background-repeat: no-repeat;
    background-size: cover;
}

.btLink2{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 8px;
    transition: .3s;
}

